@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-family: 'Poppins';
}
html{
    scroll-behavior: smooth;
}
#home
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(/img/banner2.jpg) no-repeat center center/ cover fixed;
    padding: 30px;
}
#home .container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    gap: 30px;
}
#home .container h1
{
    text-align: center;
    color: whitesmoke;
    font-size: 60px;
    font-weight: 500;
}
#home .container p
{
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}
button,
#home .container a
{
    height: 45px;
    width: 120px;
    background-color: transparent;
    border: solid 1px white;
    color: white;
    margin-top: 50px;
    margin-left: 70%;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;

}
button:hover,
#home .container a:hover
{
    background: #47B5FF;
    transition: 0.6s;
    color: #fff;
}
button:active,
#home .container a:active
{
    transform: scale(1.2);
}
#workspace
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    background: url(/img/banner.jpg) no-repeat center center/ cover fixed;
    padding: 30px;
    flex-direction: column;
    gap: 30px;
}
#workspace .main-heading
{
    background-color: rgba(17, 17, 17, 0.603);
    padding: 10px 15px;
    border-radius: 15px;
    width: 380px;
}
#workspace .main-heading:hover
{
    box-shadow: 0 0 25px #47B5FF;
    transition: 0.34s;
}
#workspace .main-heading h1
{
    font-weight: 500;
    color: #47B5FF;
    font-size: 15px;
    text-align: center;
}
.main
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main button
{
    margin-top: 10px;
    height: 30px;
    font-size: 15px;
}
textarea
{
    height: 150px;
    width: 400px;
    outline: none;
    resize: none;
    padding: 10px;
    background-color: rgba(17, 17, 17, 0.836);
    color: #47B5FF;
    border: solid 1px #47B5FF;
    border-radius: 7px;
}
textarea:hover
{
    border: solid 1px #47B5FF;
    box-shadow: 0 3px 25px #47B5FF;
    transition: 0.5s;
}
.audioContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
}
a
{
    text-decoration: none;
    font-size: 40px;
    color: #111;
    margin-left: 12px;
}
a:hover
{
    color: #47B5FF;
}

audio:hover
{
    box-shadow: 0 3px 25px #47B5FF;
    transition: 0.5s;
}
/* footer */
footer
{
    display: absolute;
    width: 100%;
    z-index: 999;
    bottom: 0;
    background-color: #393E46;
    border-top: solid 2px #C3F8FF;
}
footer .footerBox .data
{
    display: flex;
    justify-content: center;
    padding: 10px 0;
    gap: 10px;
}
footer .footerBox .data a i
{
    font-size: 30px;
    justify-content: space-between;
    color: #47B5FF;
}
footer .footerBox .data a i:hover
{
    transform: scale(1.12);
    color: #EB6440;
    transition: 0.6s;
}

@media (max-width: 750px) {
    #home .container h1
    {
        font-size: 40px;
    }
    #workspace .main-heading
    {
        width: 280px;
    }
    textarea
    {
        height: 200px;
        width: 280px;
    }
    .main button /*convert*/
    {
        margin-left: 6px;
    }
    footer .footerBox .data
    {
        padding: 3px 0;
    }
}

@media (max-width: 550px) {
    #home .container a{
        height: 30px;
    }
    #home .container h1
    {
        font-size: 30px;
    }
    #workspace .main-heading
    {
        width: 230px;
    }
    textarea
    {
        height: 180px;
        width: 260px;
    }
    .main button /*convert*/
    {
        margin-left: 6px;
    }
    footer .footerBox .data
    {
        padding: 3px 0;
    }
}